.productsConteiner{
    width: 100%;
    min-height: 400px;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #222;
    flex-direction: column;
}
.productsConteiner .addProducts{
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 70%;
}
.productsConteiner .addProducts .add{
 font-size: 150px;
 color:#3f3;
}
.getProducts{
    width: 100%;
}
#productsFilter{
    padding: 7px 0 5px 10px;
    align-self: start;
    width: 20%;
    min-height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    background-color: rgb(64, 150, 199);
    transform: scale(.9);

}
    #productsFilter .titleFilter{
        color:#111;
        font-size: 22px;
        font-weight: 700;
    }
    #productsFilter .subtitleFilter{
        margin: 10px 0;
        color:#222;
        font-size: 18px;
        font-weight: 500;
    }
    #productsFilter .subtitleFilterPrice{
        color:#222;
        font-size: 14px;
        font-weight: 400;
    }
    #productsFilter label{
        color:#222;
        font-size: 15px;
    }
        #productsFilter label .check{
            color:#eeeeee;
        }
    #productsFilter .priceInput{
        width: 50%;
        min-width: 100px;
        color:#333;
        border-radius: 2px;
        padding: 3px;

    }